---
import '../css/globalStyles.css';
import '../css/body.css';
import '../css/footer.css';

import Header from '../layouts/Header.astro';
import Body from '../layouts/Body.astro';
import Footer from '../layouts/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_page.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Edilson Luna Dev</title>
	</head>
	<body>
		<Header/>
		<Body/>
		<Footer/>
	</body>
</html>
