main{
    position: absolute;
    top:90px;
    height: calc(100vw - 90px);
    width: 100%;
}

section{
    padding: 20px;
}

.fotoPerfilContainer{
    position: relative;
    z-index: 1;
    width: fit-content;
    border-radius: 100%;
    overflow: hidden;
}

.fotoPerfilEL{
    transition: all .3s ease-in-out;
}

.fotoPerfilContainer:hover > .fotoPerfilEL{
    transform: scale(1.11) rotate(-2deg);
}

.quienSoy{
    display: flex;
    justify-content: center;
    align-items: center;
}

