.profile-photo{
    width: 200px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.profile-photo:hover{
    transform: scale(1.04) rotate(-4deg);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.about > .container {
    width: 40%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.profile-photo-container { 
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container { grid-area: 1 / 2 / 2 / 3; }
.about-me { grid-area: 2 / 2 / 3 / 3; }

.arrow-down-container{
    position: fixed;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}