.arrow-down-container{
    position: fixed;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.profile-photo-container{
    width: 200px !important;
    flex-shrink: 0;
}

.profile-photo{
    width: inherit;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.profile-photo:hover{
    transform: scale(1.04) rotate(-4deg);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.about > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    margin-left: 180px;
}

.title-container{
    margin-top: 120px;
    text-align: center;
}

.about-me{
    margin-top: 30px;
}


@media (max-width:768px){
    .about > .container {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 90px;
        margin-top: -50%; /* Ajusta este valor según necesites */
    }

    .text-container{
        margin-left: 0px;
        width: 90%;
    }

    .title-container{
        margin-top: 0px;
    }
}

@media (min-width:769px){
    .text-container{
        margin-left: 90px;
    }

    .about > .container{
        width: 60%;
    }
}

@media (min-width:1025px){
    .about > .container {
        width: 40%;
        margin-top: -10%; /* Ajusta este valor según necesites */
    }
}