<main>

    <div class="scroll-up-container">
        <a href="#" class="scroll-to-top" id="scroll-to-top" aria-label="Volver al inicio">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<polyline points="18 15 12 9 6 15"></polyline>
			</svg>
		</a>
    </div>
    
    <section class="about">
        <div class="container">
            <div class="profile-photo-container">
                <img src="/fotoPerfil.png" alt="Edilson Luna's Profile Photo" class="profile-photo">
            </div>
            <div class="text-container">
                <div class="title-container">
                    <h1>¡Hola! Soy Edilson Luna</h1>
                    <h1 class="name-split-text subTitle">Desarrollador Web Full Stack</h1>
                </div>
                <div class="about-me">
                    <h2 class="subTitle">¿Quién Soy?</h2>
                    <br>
                    <p>
                        Desarrollador web con 2 años de experencia, enfocado en crear experiencias digitales dinámicas y bien estructuradas. Me apasiona transformar ideas en soluciones funcionales, cuidando tanto la lógica como el diseño.
                    </p>
                    <br>
                    <p>
                        Aprendo constantemente, estudio para mejorar cada día y usar la tecnología con el fin de crear algo que deje huella. Mi objetivo es crecer como profesional mientras construyo proyectos que hablen por mí.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="arrow-down-container">
            <p>Desliza para continuar</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
        </div>
    </section>

    <section class="habilities">
        <div class="habilities-container title-separator">
            <h2>Habilidades</h2>
            <hr>
        </div>
        <div class="habilities-group">
            <div class="frontend-habilities habilitie-container">
                <h3>Frontend 🖥️</h3>
                <div class="habilitie-target h-angular">
                    <h4>Angular</h4>
                </div>
                <div class="habilitie-target h-astro">
                    <h4>Astro</h4>
                </div>
            </div>
            <div class="backend-habilities habilitie-container">
                <h3>Backend ⚙️</h3>
                <div class="habilitie-target h-express">
                    <h4>Express</h4>
                </div>
                <div class="habilitie-target h-NodeJs">
                    <h4>NodeJs</h4>
                </div>
                <div class="habilitie-target h-typescript">
                    <h4>TypeScript</h4>
                </div>
            </div>
            <div class="bd-habilities habilitie-container">
                <h3>Base de datos 🛢</h3>
                <div class="habilitie-target h-mysql">
                    <h4>Mysql</h4>
                </div>
                <div class="habilitie-target h-postgre">
                    <h4>PostgreSQL</h4>
                </div>
                <div class="habilitie-target h-sqlserver">
                    <h4>SQL-Server</h4>
                </div>
            </div>
            <div class="other-habilities habilitie-container">
                <h3>Otros ☁️</h3>
                <div class="habilitie-target h-git">
                    <h4>Control de versiones con Git, Github, Gitlab</h4>
                </div>
                <div class="habilitie-target h-scrum">
                    <h4>Metodologías ágiles (Scrum)</h4>
                </div>
                <div class="habilitie-target h-linux">
                    <h4>Linux</h4>
                </div>
                <div class="habilitie-target h-apirest">
                    <h4>APIS REST</h4>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="projects">
        <div class="title-projects-container title-separator">
            <h2>Proyectos Destacados</h2>
            <hr>
        </div>
        <div class="projects-container">
            <div class="target">
                <div class="target-header">
                    <div class="img-container img-target-delthac"></div>
                </div>
                <div class="target-body">
                    <h1>Delthac Landing Page</h1>
                    <p>Desarrollé una landing page propuesta para Delthac1 usando Astro, con un diseño sobrio y elegante que resalta sus servicios, fortalezas y empresas asociadas. El objetivo fue crear una presentación corporativa clara, moderna y alineada con la identidad profesional de la compañía.</p>
                </div>
                <div class="target-technologies">
                    <div class="technologie">
                        <p>Astro</p>
                    </div>
                    <div class="technologie">
                        <p>TypeScript</p>
                    </div>
                    <div class="technologie">
                        <p>CSS</p>
                    </div>
                </div>
                <a href="https://delthac-landing-page-eta.vercel.app/#servicios" target="_blank" class="target-footer">
                    Ver proyecto
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </a>
            </div>
            <div class="target">
                <div class="target-header">
                    <div class="img-container img-target-portfolio"></div>
                </div>
                <div class="target-body">
                    <h1>Portafolio Personal v1</h1>
                    <p>
                        Construí esta landing page con Astro buscando un estilo formal, sobrio y profesional. Mi intención es que encuentres aquí, de forma clara y directa, todo lo que necesitas para conocer mi trabajo, mi arte y las habilidades que me representan.
                    </p>
                </div>
                <div class="target-technologies">
                    <div class="technologie">
                        <p>Astro</p>
                    </div>
                    <div class="technologie">
                        <p>Html</p>
                    </div>
                    <div class="technologie">
                        <p>CSS</p>
                    </div>
                </div>
                <a href="#" class="target-footer" >
                    Ver proyecto
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <section class="experience">
        <div class="title-experience-container title-separator">
            <h2>Experiencia Laboral</h2>
            <hr>
        </div>
        <div class="experience-container">

            <div class="timeline-item">
                <div class="timeline-date">
                    <span class="date-start">Julio 2025</span>
                    <span class="date-separator">-</span>
                    <span class="date-end">Actualidad</span>
                </div>
                <div class="timeline-line">
                    <div class="timeline-circle"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-card">
                    <h3>Desarrollador Full Stack</h3>
                    <h4>Delthac1 Seguridad</h4>
                    <p>
                        Actualmente apoyo el desarrollo y mantenimiento de Delamano, la aplicación empresarial de Delthac1, trabajando en la creación y mejora de módulos con Angular 19, PHP y PostgreSQL. Además, desarrollé desde cero un portal corporativo para QS1, donde los clientes pueden radicar órdenes de servicio y la empresa gestionar su asignación a los operarios.
                    </p>
                </div>
            </div>

            <!-- Experiencia SYC desarrollo -->
            <div class="timeline-item">
                <div class="timeline-date">
                    <span class="date-start">Febrero 2025</span>
                    <span class="date-separator">-</span>
                    <span class="date-end">Julio 2025</span>
                </div>
                <div class="timeline-line">
                    <div class="timeline-circle"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-card">
                    <h3>Desarrollador Full Stack</h3>
                    <h4>Sistemas y Computadores S.A (SYC)</h4>
                    <p>
                        En el grupo de desarrollo de Colpensiones desarrollé y mantuve portales web internos y públicos utilizando C# y WebForms, y creé autómatas para automatizar procesos con .NET Core 8. Implementé prácticas de CI/CD con Azure DevOps y participé en la adopción de contenedores Docker para portales y autómatas. Además, desarrollé una solución Cliente-Servidor en .NET Core 8 donde un servidor, basado en SignalR, el cual gestiona autómatas mediante colas FIFO, permitiendo escalar horizontalmente y garantizando el procesamiento único de cada tarea.
                    </p>
                </div>
            </div>

            <!-- Experiencia SYC Practicas -->
            <div class="timeline-item">
                <div class="timeline-date">
                    <span class="date-start">Agosto 2024</span>
                    <span class="date-separator">-</span>
                    <span class="date-end">Febrero 2025</span>
                </div>
                <div class="timeline-line">
                    <div class="timeline-circle"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-card">
                    <h3>Prácticas Universitarias</h3>
                    <h4>Sistemas y Computadores S.A (SYC)</h4>
                    <p>Realización de practicas empresariales para culminar estudios universitarios.</p>
                </div>
            </div>

            <!-- Experiencia TIRESIA -->
            <div class="timeline-item">
                <div class="timeline-date">
                    <span class="date-start">Septiembre 2023</span>
                    <span class="date-separator">-</span>
                    <span class="date-end">Agosto 2024</span>
                </div>
                <div class="timeline-line">
                    <div class="timeline-circle"></div>
                    <div class="timeline-connector"></div>
                </div>
                <div class="timeline-card">
                    <h3>Desarrollador Full stack</h3>
                    <h4>TIRESIA S.A.S</h4>
                    <ul>
                        <li>
                            Desarrollé y ayudé al mejoramiento del sistema ERP MAIA CLOUD ERP, creando módulos nuevos
solicitados o dando mantenimiento a los existentes. Así también para el sistema POS MAIA POS
                        </li>
                        <li>
                            Gestión y creación del modelo de base de datos para los desarrollos asignados haciendo uso de base de
datos MySQL
                        </li>
                        <li>
                            Usé como marco de desarrollo la metodología ágil Scrum
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>

<script>
    import gsap from "gsap";
    import {ScrollTrigger} from "gsap/ScrollTrigger";
    import {SplitText} from "gsap/SplitText";
    import {initFlashlightEffect} from "../ts/flashlightEffect";

    gsap.registerPlugin(ScrollTrigger); //Registro de plugin para poder manejar el scroll y las animaciones
    gsap.registerPlugin(SplitText); //Registro de plugin para poder manejar las animaciones de texto

    // Inicializar el efecto de linterna
    initFlashlightEffect();

    // split elements with the class "split" into words and characters
    let split = SplitText.create(".name-split-text", { type: "words, chars" });

    // now animate the characters in a staggered fashion
    gsap.from(split.chars, {
        duration: .3, 
        y: 100,       // animate from 100px below
        autoAlpha: 0, // fade in from opacity: 0 and visibility: hidden
        stagger: 0.05, // 0.05 seconds between each,
    });

    // Animación infinita del SVG hacia arriba y hacia abajo
    gsap.to('.bi-arrow-down', {
        duration: 0.8,
        y: 10,
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut"
    });

    //Animacion para desaparecer la arrowDown cuando se inicia el scroll
    gsap.to('.arrow-down-container',{
        scrollTrigger : {
            trigger: '.arrow-down-container',
            start: '+=150 bottom',
            end: 'bottom +=850',
            scrub: 2,
        },
        y: 100,
        opacity: 0,
        duration: 1,
    });

    ScrollTrigger.create({
        trigger: '.about',
        start: 'top top',
        end: '+=40%',
        pin: '.profile-photo-container',
    });

    const mainTimeLine = gsap.timeline({
    scrollTrigger:{
        trigger: '.about',
        start: 'top top',
        end: '+=25%',  // o 'bottom top'
        scrub: 2,
    }
    });

    ScrollTrigger.matchMedia({
        "(min-width: 765px)": function() {
            // Solo se ejecuta cuando el ancho de la pantalla es mayor a 765px
            mainTimeLine.from(".title-container", {
            marginTop: 430,
            });
        },
    });

    mainTimeLine
    .to('.title-container', {
        y: -100,
        opacity: 0,
        duration: 1,
    })
    .to('.about-me', {
        marginTop: 260
    })
    .from('.about-me', {
        y: 100,
        opacity: 0,
        duration: 2,
    }, '+=0.1')
    
    // Mostrar/ocultar botón scroll to top después de 300px
    const scrollUpContainer = document.getElementById('scroll-to-top');
    
    window.addEventListener('scroll', () => {
        if (window.scrollY > 300 && scrollUpContainer) {
            scrollUpContainer.style.visibility = 'visible';
        }else if (window.scrollY < 300 && scrollUpContainer){
            scrollUpContainer.style.visibility = 'hidden';
        }
    });

</script>