<main>
    <section class="about">
        <div class="container">
            <div class="profile-photo-container">
                <img src="/fotoPerfil.png" alt="Edilson Luna's Profile Photo" class="profile-photo">
            </div>
            <div class="text-container">
                <div class="title-container">
                    <h2>¡Hola! Soy Edilson Luna</h2>
                    <h2 class="name-split-text">Desarrollador Web Full Stack</h2>
                </div>
                <div class="about-me">
                    <h2>¿Quién Soy?</h2>
                    <p>
                        Soy una persona proactiva, excelente, compañero de equipo, organizado y responsable. Destacándome como desarrollador full-stack he estado presente en todos los procesos del desarrollo de una aplicación, empleando las mejores prácticas de desarrollo para contribuir a un sistema robusto, estable y escalable.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="arrow-down-container">
            <p>Desliza para continuar</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
        </div>
    </section>

    <section class="habilities">    
        <h2>Habilidades</h2>
        <hr>
        <div class="habilities-group">
            <div class="frontend-habilities habilitie-container">
                <h3>Frontend 🖥️</h3>
                <div class="habilitie-target h-angular">
                    <h4>Angular</h4>
                </div>
                <div class="habilitie-target h-astro">
                    <h4>Astro</h4>
                </div>
            </div>
            <div class="backend-habilities habilitie-container">
                <h3>Backend ⚙️</h3>
                <div class="habilitie-target h-express">
                    <h4>Express</h4>
                </div>
                <div class="habilitie-target h-NodeJs">
                    <h4>NodeJs</h4>
                </div>
                <div class="habilitie-target h-typescript">
                    <h4>TypeScript</h4>
                </div>
            </div>
            <div class="bd-habilities habilitie-container">
                <h3>Base de datos 🛢</h3>
                <div class="habilitie-target h-mysql">
                    <h4>Mysql</h4>
                </div>
                <div class="habilitie-target h-postgre">
                    <h4>PostgreSQL</h4>
                </div>
                <div class="habilitie-target h-sqlserver">
                    <h4>SQL-Server</h4>
                </div>
            </div>
            <div class="other-habilities habilitie-container">
                <h3>Otros ☁️</h3>
                <div class="habilitie-target h-git">
                    <h4>Control de versiones con Git, Github, Gitlab</h4>
                </div>
                <div class="habilitie-target h-scrum">
                    <h4>Metodologías ágiles (Scrum)</h4>
                </div>
                <div class="habilitie-target h-linux">
                    <h4>Linux</h4>
                </div>
                <div class="habilitie-target h-apirest">
                    <h4>APIS REST</h4>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="projects">

    </section>

    <section class="contact">
    </section>

</main>

<script>
    import gsap from "gsap";
    import {ScrollTrigger} from "gsap/ScrollTrigger";
    import {SplitText} from "gsap/SplitText";
    import {initFlashlightEffect} from "../ts/flashlightEffect";

    gsap.registerPlugin(ScrollTrigger); //Registro de plugin para poder manejar el scroll y las animaciones
    gsap.registerPlugin(SplitText); //Registro de plugin para poder manejar las animaciones de texto

    // Inicializar el efecto de linterna
    initFlashlightEffect();

    // split elements with the class "split" into words and characters
    let split = SplitText.create(".name-split-text", { type: "words, chars" });

    // now animate the characters in a staggered fashion
    gsap.from(split.chars, {
        duration: .3, 
        y: 100,       // animate from 100px below
        autoAlpha: 0, // fade in from opacity: 0 and visibility: hidden
        stagger: 0.05, // 0.05 seconds between each,
    });

    // Animación infinita del SVG hacia arriba y hacia abajo
    gsap.to('.bi-arrow-down', {
        duration: 0.8,
        y: 10,
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut"
    });

    //Animacion para desaparecer la arrowDown cuando se inicia el scroll
    gsap.to('.arrow-down-container',{
        scrollTrigger : {
            trigger: '.arrow-down-container',
            start: '+=150 bottom',
            end: 'bottom +=850',
            scrub: 2,
        },
        y: 100,
        opacity: 0,
        duration: 1,
    });

    ScrollTrigger.create({
        trigger: '.about',
        start: 'top top',
        end: '+=40%',
        pin: '.profile-photo-container',
    });

    const mainTimeLine = gsap.timeline({
    scrollTrigger:{
        trigger: '.about',
        start: 'top top',
        end: '+=25%',  // o 'bottom top'
        scrub: 2,
    }
    });

    ScrollTrigger.matchMedia({
        "(min-width: 765px)": function() {
            // Solo se ejecuta cuando el ancho de la pantalla es mayor a 765px
            mainTimeLine.from(".title-container", {
            marginTop: 240,
            });
        },
    });

    mainTimeLine
    .to('.title-container', {
        y: -100,
        opacity: 0,
        duration: 1,
    })
    .to('.about-me', {
        marginTop: 260
    })
    .from('.about-me', {
        y: 100,
        opacity: 0,
        duration: 2,
    }, '+=0.1')
    

    

</script>