<main>
    <section class="quienSoy">
        <article>
            <div class="fotoPerfilContainer">
                <img src="/fotoPerfil.png" alt="Foto de perfil presentacion Edilson Luna" class="fotoPerfilEL" width="200">
            </div>
        </article>
    </section>
    
</main>